.burger_constructor {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 0 40px;
  color: var(--text-primary-color);
}

.constructor_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  border-radius: 20px;
  transition: border 0.2s ease-in-out;
}

.burger_ingredients {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0 16px 0 48px;
  overflow-y: auto;
  list-style: none;
}

.empty_message {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
