.burger_constructor {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 100px 0 90px;
  color: var(--text-primary-color);
}

.constructor_wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.burger_bun {
  padding: 0 16px 0 48px;
}

.burger_ingredients {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0 16px 0 48px;
  overflow-y: auto;
  list-style: none;
}

.burger_ingredient {
  position: relative;
  display: flex;
  align-items: center;
}

.drag_button {
  position: absolute;
  left: -32px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}
