.container {
  display: grid;
  place-content: baseline;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  gap: 60px;
  overflow: auto;
}

.shadowResult {
  text-shadow:
    0 4px 32px #3333ff80,
    0 0 8px #3333ff40,
    0 0 16px #3333ff40;
}

.done {
  color: #0cc;
}

.orderNumbers {
  display: grid;
  grid-template-rows: repeat(7, fit-content(24px));
  grid-auto-flow: column;
  gap: 8px 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.twoColumns {
  grid-column: span 2;
}
