.app {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}
