.burger_ingredient {
  position: relative;
  display: flex;
  align-items: center;
}

.drag_button {
  position: absolute;
  left: -32px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}
