.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 40px 40px 60px;
  background-color: rgb(28 28 33 / 100%);
  border-radius: 40px;
  box-shadow:
    0 0 1px 0 rgb(0 0 0 / 4%),
    0 4px 8px 0 rgb(0 0 0 / 4%),
    0 16px 24px 0 rgb(0 0 0 / 4%),
    0 16px 24px 0 rgb(0 0 0 / 4%);
}

.header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.closeButton {
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
}
