.containter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: #1c1c21;
  border-radius: 40px;
}

.ingredientsPreviews {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredientPreviewWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  padding: 2px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;
}

.ingredientPreviewWrapperMore {
  position: relative;
  z-index: 0;
  padding: 0;
  background: none;
  border-radius: 0;
}

.ingredientPreviewWrapper:first-of-type {
  margin: 0;
}

.ingredientPreview {
  width: 60px;
  height: 60px;
  background-color: #131316;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.orderData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost {
  display: flex;
  align-items: center;
  gap: 8px;
}

.moreCount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
