.burger_ingredients {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 40px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.types_list {
  display: grid;
  gap: 40px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}

.ingredients_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 24px;
  margin: 0;
  list-style: none;
}
